body { /*עיצוב כללי לכל BODY*/
    direction: rtl;
    width: 100%;
    margin: unset;
    height: 100vh;
}

@font-face {/*סוגי פונטים*/
    font-family: 'AmaticaSC-Regular';
    src: url('fonts/Amatica_SC/Amatica_SC/AmaticaSC-Regular.ttf') format('truetype');
}

@font-face { /*סוגי פונטים*/
    font-family: 'DanaYadAlefAlefAlef-Normal';
    src: url('fonts/dana-yad-alefalefalef/DanaYadAlefAlefAlef-Normal.woff') format('woff');
}
@font-face { /*סוגי פונטים*/
    font-family: 'Assistant-Regular';
    src: url('fonts/Assistant/Assistant/Assistant-Regular.ttf') format('truetype');
}
* {
    box-sizing: border-box;
    
    font-family: 'Assistant-Regular';
}
.price { /*מחיר לעמודי מוצרים*/
    color: red;
    font-size: 15px;
    font-weight: 600;
}


footer {
    background-image: url(../files/images/contact-bottom-pic.jpg);
    height: 38vw;
    width: 100%;
    background-size: 100vw 39vw;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-content: space-around;
    align-items: center;
    justify-content: space-around;
}

.areas {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

textarea#request {
    width: 80%;
    margin: 1% 2%;
    background-color: #ffffff9e;
    border: 1px solid black;
    font-size: 15px;
    padding: 1%;
    border: none;
    border-bottom: 1px solid;
    height: 9vw;
}

.c-inp {
    width: 38%;
    margin: 1% 2%;
    height: 3vw;
    background-color: #ffffff9e;
     border-radius: 10px; 
    font-size: 15px;
    border: none;
    border-bottom: 1px solid;
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    grid-area: 2/1;
}

::placeholder {  Chrome, Firefox, Opera, Safari 10.1+ 
    color: black;
}

.f-btn {
    width: 80%;
    height: 3vw;
    margin: 1% 2%;
    background-color: #ffeb3b8f;
}

@font-face {
    font-family: 'Assistant-Regular';
    src: url('fonts/Assistant/Assistant/Assistant-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'DanaYadAlefAlefAlef-Normal';
    src: url('fonts/dana-yad-alefalefalef/DanaYadAlefAlefAlef-Normal.woff') format('woff');
}

h1.c-title {
    text-align: center;
    color: #fee002;
    font-family: 'DanaYadAlefAlefAlef-Normal';
    text-shadow: 2px 2px 4px #000000;
    margin: 1%;
}

.c-title {
    font-size: 45px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(35, 27, 27), 0 0 20px rgb(35, 27, 27), 0 0 30px rgb(68, 63, 63), 0 0 40px rgb(68, 63, 63), 0 0 50px rgb(68, 63, 63), 0 0 60px rgb(68, 63, 63), 0 0 70px rgb(68, 63, 63);
    }
}

.bottom-footer-text {
    grid-area: 4/1;
}

h2.f-title {
    font-size: 19px;
    text-align: center;
    background-color: #2f382fa6;
    margin: 0;
    height: 100%;
    width: 100%;
    padding-top: 0.5%;
    color: white;
}

.f-btn {
    width: 80%;
    height: 3vw;
    margin: 1% 2%;
    border-radius: 0%;
    border: none;
}

.f-btn {
    background-color: #ffeb3bb9;
}

    .f-btn:hover {
        background-color: #ffeb3b;
    }

form {
    text-align: center;
}

@media screen and (max-width: 686px) {
    .c-inp {
        width: 80%;
        height: 10%;
    }

    footer {
        height: 78vw;
        background-size: 100vw 78vw;
    }

    .c-title {
        font-size: 39px;
    }

    input[type="submit"] {
        height: 6vw;
    }
}

.f-title {
    font-family: cursive;
}

